*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #f5a2d7, #ecdfec);
}

.calculator{
    justify-content: center;
    align-items: center;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
    color: #ed84b9;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: #ffffff;

}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    /* background: transparent; */
    color: #ed84b9;;
    font-size: 20px;
    cursor: pointer;
}
.equalBtn{
    background-color: #e8a3db;
}
.operator{
    background-color: rgb(228, 179, 227);
}